html {
  height: 100%;
}

body {
  background-color: white;
}

header {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
  color: rgba(19, 142, 243, 0.884);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: bold;
}

/*NAV */
.nav-link {
  font-family: "Baloo Paaji 2", cursive;
  color: rgba(19, 142, 243, 0.884);
  font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(19, 142, 243, 0.884);
}

.container {
}

#weather-search {
}

#weather-search {
  border-color: black;
  border-width: 2px;
  background-color: yellow;
  border-radius: 30px;
  color: rgba(19, 142, 243, 0.884);
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  margin: 10px;
  padding: 5px, 5px, 5px, 5px;
  cursor: pointer;
}

input {
  width: 300px;
  padding: 10px 10px;
  border-width: 4px;
  margin: 10px;
}
/* MAIN BODY */

aside.column {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  margin: 15px;
  border: 5px;
  padding: 5px;
  content: 5px;
  text-align: center;
}
/* insert new divs like this */
button.btn.citybtn {
  border: 1px solid gray;
  border-bottom: 2px solid black;
  border-right: 3px solid black;
  margin: 10px;
  padding: 5px;
  content: 5px;
  min-width: 300px;
  font-size: 20px;
  font-weight: bold;
  max-width: 300px;
  background-color: greenyellow;
}

section.column {
  display: flex;
  flex-direction: column;
  flex-flow: flex-end;
  margin: 25px, 100px, 25px, 100px;
  border: 20px solid black;
  padding: 0px;
  content: 25px;
  min-height: 250px;
  border: 10px;
  font-size: 30px;
  font: roboto, sans-serif;
}

.city,
.wind,
.humidity,
.temp,
.tempF,
.uvIndex {
  font-family: roboto, sans-serif;
  font-size: 20px;
}

#div1,
#div2,
#div3,
#div4,
#div5 {
  margin: 25px;
  border: 1px;
  padding: 10px;
  content: 5px;
  min-height: 25px;
  font-size: 20px;
  font: roboto, sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgba(19, 142, 243, 0.884);
  font-size: 20px;
}

@media screen and (min-width: 1110px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(19, 142, 243, 0.884);
    font-size: 20px;
  }
}
